.whats-on-section {

  .row-section:nth-child(odd) {

    .wrapper {

      .row {
        display: flex;

        .left-col {
          width: 60%;

          .favourite {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 3rem;
            height: 3rem;
            padding: .5rem;
            border-radius: 50%;
            background-color: var(--white);
            margin: var(--p);

            svg {
              top: 1px;
              width: 100%;
              height: 100%;
            }

            &:hover {
              #Path_51 {
                stroke: red;
              }
            }
          }

          .link {
            width: 100%;
            height: 100%;

            .container {
              overflow: hidden;

              img {
                width: 100%;
                object-fit: cover;
                filter: brightness(1);
                transition: .3s;
              }

              .title {
                color: var(--white);
                opacity: 0;
                transition: .3s;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
              }
            }

            &:hover {

              .title {
                opacity: 1;
              }

              img {
                filter: brightness(.5);
                transform: scale(1.05);
              }
            }
          }
        }

        .right-col {
          width: 40%;

          .favourite {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 3rem;
            height: 3rem;
            padding: .5rem;
            border-radius: 50%;
            background-color: var(--white);
            margin: var(--p);

            svg {
              top: 1px;
              width: 100%;
              height: 100%;
            }

            &:hover {
              #Path_51 {
                stroke: red;
              }
            }
          }

          .link {
            width: 100%;
            height: 100%;

            .container {
              overflow: hidden;

              img {
                width: 100%;
                object-fit: cover;
                filter: brightness(1);
                transition: .3s;
              }

              .title {
                color: var(--white);
                opacity: 0;
                transition: .3s;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
              }
            }

            &:hover {

              .title {
                opacity: 1;
              }

              img {
                filter: brightness(.5);
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }

  .row-section:nth-child(even) {

    .wrapper {

      .row {
        display: flex;

        .left-col {
          width: 40%;

          .favourite {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 3rem;
            height: 3rem;
            padding: .5rem;
            border-radius: 50%;
            background-color: var(--white);
            margin: var(--p);

            svg {
              top: 1px;
              width: 100%;
              height: 100%;
            }

            &:hover {
              #Path_51 {
                stroke: red;
              }
            }
          }

          .link {
            width: 100%;
            height: 100%;

            .container {
              overflow: hidden;

              img {
                width: 100%;
                object-fit: cover;
                filter: brightness(1);
                transition: .3s;
              }

              .title {
                color: var(--white);
                opacity: 0;
                transition: .3s;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
              }
            }

            &:hover {

              .title {
                opacity: 1;
              }

              img {
                filter: brightness(.5);
                transform: scale(1.05);
              }
            }
          }
        }

        .right-col {
          width: 60%;

          .favourite {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            width: 3rem;
            height: 3rem;
            padding: .5rem;
            border-radius: 50%;
            background-color: var(--white);
            margin: var(--p);

            svg {
              top: 1px;
              width: 100%;
              height: 100%;
            }

            &:hover {
              #Path_51 {
                stroke: red;
              }
            }
          }

          .link {
            width: 100%;
            height: 100%;

            .container {
              overflow: hidden;

              img {
                width: 100%;
                object-fit: cover;
                filter: brightness(1);
                transition: .3s;
              }

              .title {
                color: var(--white);
                opacity: 0;
                transition: .3s;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
              }
            }

            &:hover {

              .title {
                opacity: 1;
              }

              img {
                filter: brightness(.5);
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 48rem) {

  .whats-on-section {

    .row-section {

      .wrapper {

        .row {
          display: block;

          .left-col,
          .right-col {
            width: 100%;
          }
        }
      }
    }
  }
}
